<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Informativa</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <header>
    <h1>Dispositivo para personas invidendes mediante una red en malla</h1>
  </header>

  <main>
    <section id="seccion1" class="imagen-info">
      <img src="https://acortar.link/3XTAtf" alt="Imagen 1">
      <p>La dificultad, de las personas que no pueden ver,al momento de subirse al trasporte publico es realmente un reto diario.</p>
    </section>
    <section id="seccion2" class="imagen-info">
      <img src="https://acortar.link/F4ctFU" alt="Imagen 2">
      <p>La falta de orientacion pude llevarlos a equivocarse de la unidad de transporte indicada.</p>
    </section>
    <section id="seccion3" class="imagen-info">
      <img src="https://acortar.link/mTfBr3" alt="Imagen 3">
      <p>Las personas de su alrededor no siempre esta dispuesta a ayudarlos.</p>
    </section>
  </main>
  
  <main>
    <!-- Contenido de la sección 4 y 5 -->
  </main>
  <ul>
    <li><a href="http://127.0.0.1:5500/src/app/app.component.html">Infórmate más</a></li>
  </ul>
 

  <script src="app.componet.js"></script>
</body>
</html>

